    /* -- font import -- */

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

    /* -- default / resset settings -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font-size: 62.5%; */

    /* -- colors -- */

    --bg-main: #242329;
    --bg-container: #28272E;

    /* -- font  -- */

    font-family: 'Martian Mono', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--bg-main);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

    /* -- stylization of container -- */

main {
    background: var(--bg-container);

    display: flex;
    flex-direction: column;

    width: 38rem;
    height: 38rem;

    padding: 4rem;

    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.25rem;

    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile img {
    width: 6rem;
    
    border-radius: 100%;
    border-color: rgba(255, 255, 255, 0.141);
    border-style: solid;
    border-width: 1px;

    margin-bottom: 1.5rem;

    transition: none;
}

.profile .txt-gradient {
    background-image: 
    linear-gradient(142deg, 
    #8C51D6 0%, 
    #DE8B5D 43%);
    

    text-transform: uppercase;
    letter-spacing: 0.225rem;

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile h1 {
    color: #fff;

    width: calc(100% + 0.025rem);

    font-size: 32px;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 0.025rem;

    margin-bottom: 1.5rem;
}

.profile .txt-resume {
    color: rgba(255, 255, 255, 0.612);
    font-family: 'Martian Mono', monospace;
    font-size: 1em;
    line-height: 2;
    font-weight: 200;
}

a {
    color: #fff;
}

a:hover {
    color: #9B8DE4;

    text-decoration: underline;
    transition: color 0.25s ease;
}

    /* -- stylization of contact -- */

ol, ul {
    list-style: none;
}

button {
    background-color: #DE8B5D;
    color: #FFFFFF;
    background-image: 
    linear-gradient(243deg, 
    #8C51D6 0%, 
    rgba(222, 139, 93, 0.008) 74%);

    font-family: 'Martian Mono', sans-serif;

    margin-top: 32px;

    width: 150px;
    height: 48px;

    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    text-align: center;

    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.5s;
}