    /* -- font import -- */

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

    /* -- default / resset settings -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font-size: 62.5%; */

    /* -- colors -- */

    --bg-main: #242329;
    --bg-container: #28272E;

    /* -- font  -- */

    font-family: 'Martian Mono', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--bg-main);
}

    /* -- stylization of container -- */

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background: var(--bg-container);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 37.5rem;
    height: 39.6875rem;
    padding: 3.625rem;

    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 2.25rem;

    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}